.input-label{
    color : black !important;
    font-size: 13pt;
}

.form-error{
    color:red !important;
}

#campaign-textarea{
    width:400px;
}

#addForm label {
    margin-top: 3px;
}

.wrap-login100{
    background-color: #d8d6d6 !important;
}

.roles-area{
    margin-top: 15px;
    text-align: center;
}

.login-field{
    height:25px;
    width:75%;
    margin-bottom:15px;
    border-radius: 50px;
    background-color: #302f2d;
    color: white;
    padding-left: 12px;

}

.profile-box{
    margin-left: auto;
    margin-right: auto;
    width:450px;
    height:300px;
    background-color:#26323885;
    padding:20px;
    font-style: oblique;
    color:white;
}

.profile-header{
    width: 350px;
    height:100px;
    background-color:#b33b29;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
}
.profile-footer{
    width:150;
    height:0px;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
}

#header-name{
    color:white;
}

#candidate-logo{
    position: absolute;
    left:100px;
    width:300px;
    height:250px;
}

.profile-content{
    float:left;
}
.settingCustom label{
    margin-top:40px ;
}

.custom-loginas .col-md-4{
    margin-left:auto;
    margin-right: auto;
}

.custom-container-loginas{
    padding-top: 280px;
    height:100%;
}
.img-float div{
    float:left;
    padding: 40px;
}
.img-float{
    margin-left:auto;
    margin-right:auto;
}

.btn-custom{
    width:150px !important;
    height:40px;
    background-color:lightblue;
    color:white;
}
.login100-form-bgbtn{
    width:150px !important;
}
.wrap-login100-form-btn
{
    width : initial !important;
}
h3{
    margin: 0px 0 0px;
}
.admin-btn{
    
        background-color: #b33b29 !important;
}
.content{
    background-color:black !important;

    
}
.navbar.navbar-transparent{
    background-color:black !important;
    
    
    





}
.btn.btn-primary{
    background-color: #b33b29 !important;
}
.btn.btn-primary:hover{
    background-color: rgb(223, 139, 76) !important ;
}
.input-label {
    color:white !important;
    font-size: 13pt;
}
.sidebar-background{
    background-color: rgba(169, 199, 181, 0.76) !important;

}

.main-panel > .content{
    height:100% !important;
    width: 100%;
    
}
.main-panel{
    background-color : black !important;
}
.container-login100{
 background-color:#302f2d; 
}
.wrap-login100{
    background-color: #b33b29 !important;
}
.content-custom{
    background-color:black !important;
}

label{
    color: white !important;
}
p{
    color:#ffff00;
}
body{
    color: #302f2d;
}
a {
    color: #302f2d;
}
.ng-not-empty{
    color: #ffff00 !important;

}