.sidebar{
    left:initial !important;
    right:0 !important;
}

.content{
    text-align: right !important;
    direction: rtl !important;
    width:820px !important;
}
.cust-cont{
        /* width: 500px; */
    /* text-align: right; */
    direction: rtl !important;
    /* width: 500px; */
    margin-right: 280px !important;
}